<div class="table-responsive">
<table class="table table-hover text-center" *ngIf="selctedCountry">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Capital</th>
    <th scope="col">Population</th>
    <th scope="col">Currencies</th>
    <th scope="col">Flag</th>
  </tr>
  <tr>
    <td>{{selctedCountry?.name}}</td>
    <td>{{selctedCountry?.capital}}</td>
    <td>{{selctedCountry?.population | number}}</td>
    <td>
      <span *ngFor="let currencie of selctedCountry?.currencies">{{currencie.name}} </span>
    </td>
    <td><img class="img-fluid img-thumbnail w-25" [src]="selctedCountry?.flag" alt="flag"></td>
  </tr>
</table>
</div>